/data
/cache
/images
/rome
/notebooks
/memit
/checkpoints
/okvqa_yolo_dino_bert.zip
/checkpoints
/cache_dir
/5c2581f0-c31d-11e8-87bb-0242ac11000d.jpg
/5a7499e77101ad4d206de88d.webp
/download.webp
/image.png
/istockphoto-1319270783-612x612.jpg
/MMMEdit_rebuttal
/notebooks
/pd-1_layers.json
/pd-5_layers.json
/pd5_layers.pkl
/wandb
